.App {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.neutral {
  display: block;
  width: 10px;
  height: 17px;
  background-image: url(../icons/sort_nuetral.svg);
  background-size: cover;
  margin-left: 5px;
  cursor: pointer;
}

.asc {
  display: block;
  width: 12px;
  height: 17px;
  background-image: url(../icons/sort_asc.svg);
  background-size: cover;
  margin-left: 5px;
  cursor: pointer;
}

.desc {
  display: block;
  width: 12px;
  height: 17px;
  background-image: url(../icons/sort_desc.svg);
  background-size: cover;
  margin-left: 5px;
  cursor: pointer;
}

.tableGrid{
  border: 1px solid #eee;
  border-radius: 16px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  width: clamp(90vw, 1390px, 40vw);
}

.mobileTableGrid {
  border: 1px solid #eee;
  border-radius: 16px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  width: clamp(90vw, 1390px, 40vw);
}

.tableGrid--headerRow {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0 1em;
}
.miniTableGrid--headerRow {
  display: flex;
  justify-content: flex-start;
  background-color: #F7F7F7;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0 1em;
}

.tableGrid--headerRow--dataCell {
  padding: 30px;
  text-align: left;
  width: 30%;
  font-family: "Avenir Heavy";
  font-size: clamp(16px, 0.6rem + 0.65vw, 20px);
}

.miniTableGrid--headerRow--dataCell {
  padding: 30px;
  text-align: left;
  width: 70%;
  font-family: "Avenir Heavy";
  font-size: clamp(16px, 0.6rem + 0.65vw, 20px);
}

.tableGrid--headerRow--dataCell__select {
  padding-top: 30px;
  border-bottom: 1px solid #eee;
  padding-left: 10px;
  width: 1.2%;
}

.miniTableGrid--headerRow--dataCell__select {
  padding-left: 10px;
  padding-top: 30px;
  width: 1.2%;
  border-bottom: 1px solid #eee;
}

.selectedRow {
  background: #EFEDFD;
}

.tableGrid--bodyRow{
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.miniTableGrid--bodyRow{
  display: flex;
  justify-content: flex-start;
  padding: 0 1em;
}

.tableGrid--bodyRow--dataCell {
  padding: 30px;
  text-align: left;
  width: 30%;
  font-family: "Avenir";
  font-size: clamp(16px, 0.6rem + 0.65vw, 20px);
  border-bottom: 1px solid #eee;
}

.miniTableGrid--bodyRow--dataCell {
  padding: 30px;
  text-align: left;
  width: 70%;
  font-family: "Avenir";
  font-size: clamp(16px, 0.6rem + 0.65vw, 20px);
  border-bottom: 1px solid #eee;
}

.tableGrid--bodyRow--dataCell__select {
  padding-left: 10px;
  padding-top: 30px;
  width: 1.2%;
  border-bottom: 1px solid #eee;
}

.miniTableGrid--bodyRow-dateCell--data{
  display: flex;
  justify-content: flex-start;
  align-items: top;
  font-family: "Avenir";
}
.miniTableGrid--bodyRow-dateCell--dataKey{
  width:45%;
  font-weight: bold;
}
.miniTableGrid--bodyRow-dateCell--dataValue{
  width:55%;
  margin-left: 1px;
}